body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
}